In [1]:
## Importing libraries 
import numpy as np
import pandas as pd

## dATA vISUALIZATION
import matplotlib.pyplot as plt

In [3]:
## Loading data for analysis
car_data=pd.read_csv("car_servicing/car_servicing.csv", encoding='latin-1')


## Creating a Copy of data 

cd=car_data.copy()

In [5]:
## Displaying of data created and copied

cd

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,postalCode,lastSeen
0,17/03/2016 16:54,GOLF_4_1_4__3TÜRER,private,offer,1500,test,small car,2001,manual,75,golf,150000,6,petrol,volkswagen,no,17/03/2016 0:00,91074,17/03/2016 17:40
1,31/03/2016 17:25,Skoda_Fabia_1.4_TDI_PD_Classic,private,offer,3600,test,small car,2008,manual,69,fabia,90000,7,diesel,skoda,no,31/03/2016 0:00,60437,06/04/2016 10:17
2,04/04/2016 17:36,BMW_316i___e36_Limousine___Bastlerfahrzeug__Ex...,private,offer,650,test,limousine,1995,manual,102,3er,150000,10,petrol,bmw,yes,04/04/2016 0:00,33775,06/04/2016 19:17
3,01/04/2016 20:48,Peugeot_206_CC_110_Platinum,private,offer,2200,test,cabrio,2004,manual,109,2_reihe,150000,8,petrol,peugeot,no,01/04/2016 0:00,67112,05/04/2016 18:18
4,21/03/2016 18:54,VW_Derby_Bj_80__Scheunenfund,private,offer,0,test,limousine,1980,manual,50,others,40000,7,petrol,volkswagen,no,21/03/2016 0:00,19348,25/03/2016 16:47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260960,19/03/2016 19:53,turbo_defekt,private,offer,3200,control,limousine,2004,manual,225,leon,150000,5,petrol,seat,yes,19/03/2016 0:00,96465,19/03/2016 20:44
260961,27/03/2016 20:36,Opel_Zafira_1.6_Elegance_TÜV_12/16,private,offer,1150,control,bus,2000,manual,0,zafira,150000,3,petrol,opel,no,27/03/2016 0:00,26624,29/03/2016 10:17
260962,05/03/2016 19:56,Smart_smart_leistungssteigerung_100ps,private,offer,1199,test,cabrio,2000,automatic,101,fortwo,125000,3,petrol,smart,no,05/03/2016 0:00,26135,11/03/2016 18:17
260963,19/03/2016 18:57,Volkswagen_Multivan_T4_TDI_7DC_UY2,private,offer,9200,test,bus,1996,manual,102,transporter,150000,3,diesel,volkswagen,no,19/03/2016 0:00,87439,07/04/2016 7:15
260964,07/03/2016 19:39,BMW_M135i_vollausgestattet_NP_52.720____Euro,private,offer,28990,control,limousine,2013,manual,320,m_reihe,50000,8,petrol,bmw,no,07/03/2016 0:00,73326,22/03/2016 3:17

In [11]:
### DISPLAY THE FIRST AND LAST 5 ROWS OF THE DATA

cd.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,postalCode,lastSeen
0,17/03/2016 16:54,GOLF_4_1_4__3TÜRER,private,offer,1500,test,small car,2001,manual,75,golf,150000,6,petrol,volkswagen,no,17/03/2016 0:00,91074,17/03/2016 17:40
1,31/03/2016 17:25,Skoda_Fabia_1.4_TDI_PD_Classic,private,offer,3600,test,small car,2008,manual,69,fabia,90000,7,diesel,skoda,no,31/03/2016 0:00,60437,06/04/2016 10:17
2,04/04/2016 17:36,BMW_316i___e36_Limousine___Bastlerfahrzeug__Ex...,private,offer,650,test,limousine,1995,manual,102,3er,150000,10,petrol,bmw,yes,04/04/2016 0:00,33775,06/04/2016 19:17
3,01/04/2016 20:48,Peugeot_206_CC_110_Platinum,private,offer,2200,test,cabrio,2004,manual,109,2_reihe,150000,8,petrol,peugeot,no,01/04/2016 0:00,67112,05/04/2016 18:18
4,21/03/2016 18:54,VW_Derby_Bj_80__Scheunenfund,private,offer,0,test,limousine,1980,manual,50,others,40000,7,petrol,volkswagen,no,21/03/2016 0:00,19348,25/03/2016 16:47

In [12]:
cd.tail()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,postalCode,lastSeen
260960,19/03/2016 19:53,turbo_defekt,private,offer,3200,control,limousine,2004,manual,225,leon,150000,5,petrol,seat,yes,19/03/2016 0:00,96465,19/03/2016 20:44
260961,27/03/2016 20:36,Opel_Zafira_1.6_Elegance_TÜV_12/16,private,offer,1150,control,bus,2000,manual,0,zafira,150000,3,petrol,opel,no,27/03/2016 0:00,26624,29/03/2016 10:17
260962,05/03/2016 19:56,Smart_smart_leistungssteigerung_100ps,private,offer,1199,test,cabrio,2000,automatic,101,fortwo,125000,3,petrol,smart,no,05/03/2016 0:00,26135,11/03/2016 18:17
260963,19/03/2016 18:57,Volkswagen_Multivan_T4_TDI_7DC_UY2,private,offer,9200,test,bus,1996,manual,102,transporter,150000,3,diesel,volkswagen,no,19/03/2016 0:00,87439,07/04/2016 7:15
260964,07/03/2016 19:39,BMW_M135i_vollausgestattet_NP_52.720____Euro,private,offer,28990,control,limousine,2013,manual,320,m_reihe,50000,8,petrol,bmw,no,07/03/2016 0:00,73326,22/03/2016 3:17

In [8]:
## checking data types of the various columns
cd.dtypes

dateCrawled            object
name                   object
seller                 object
offerType              object
price                   int64
abtest                 object
vehicleType            object
yearOfRegistration      int64
gearbox                object
powerPS                 int64
model                  object
kilometer               int64
monthOfRegistration     int64
fuelType               object
brand                  object
notRepairedDamage      object
dateCreated            object
postalCode              int64
lastSeen               object
dtype: object

In [10]:
## Checking for any missing data or concise data information about the data

cd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260965 entries, 0 to 260964
Data columns (total 19 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   dateCrawled          260965 non-null  object
 1   name                 260965 non-null  object
 2   seller               260965 non-null  object
 3   offerType            260965 non-null  object
 4   price                260965 non-null  int64
 5   abtest               260965 non-null  object
 6   vehicleType          260965 non-null  object
 7   yearOfRegistration   260965 non-null  int64
 8   gearbox              260965 non-null  object
 9   powerPS              260965 non-null  int64
 10  model                260965 non-null  object
 11  kilometer            260965 non-null  int64
 12  monthOfRegistration  260965 non-null  int64
 13  fuelType             260965 non-null  object
 14  brand                260965 non-null  object
 15  notRepairedDamage    260965 non-null  object
 16  dateCreated          260965 non-null  object
 17  postalCode           260965 non-null  int64
 18  lastSeen             260965 non-null  object
dtypes: int64(6), object(13)
memory usage: 37.8+ MB

In [13]:
cd.size

4958335

In [14]:
cd.shape

(260965, 19)